body {
    background-color: black;
    text-align: center;
}

h1 {
    color: white;
    font-family: Arial;
}

#myCanvas {
    background-color: #1fd655;
}

button {
    background-color: white;
    font-size: 20px;
    padding: 5px 7px 7px 5px;
    border: none;
    border-radius: 10;
    text-shadow: 1px 1px grey;
    cursor: pointer;
    
}

